/* 1439 - 769 */
@media screen and (max-width: 1001px) {
    .conteiner {
      padding: 64px 24px;
    }
  }
  
    /* 800 */
  
  @media screen and (max-width: 801px) {
    .container {
      padding: 32px 24px;
    }
  
    .background_section {
      padding: 40px 16px;
      flex-direction: column;
      row-gap: 64px;
    }
  
  
  
    form {
      width: 100%;
     
    }
    .map_and_contact {
      width: 100%;
   
    }
   
    iframe {
        height: 338px;
      }
  }