/* 1439 - 769 */
@media(max-width: 1001px) {
  .container {
      padding-inline: 24px;
      margin: auto; 
  }

  .mainSection {
      display: block; 
      padding: 0 20px; 
  }
}

@media(max-width: 801px) {
  .container {
      padding: 32px 24px;
      border: 1px solid transparent; 
  }

  .mainSection {
      padding-inline: 16px;
      flex-direction: column;
      row-gap: 64px;
      align-items: stretch;
  }

  .formSection,
  .mapSection {
      width: 100%;
  }

  .formTitle {
      font-size: 30px; 
  }
}
