/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    background-image: url("../img/Rectangle\ 3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 64px 140px;
}

/* main section */
.mainSection {
    margin: auto;
    padding: 40px;
    background-color: #1C1325CC;
    border-radius: 20px;
    border: 1px solid #B052B5C9;
    display: flex;
    justify-content: space-between;
}

/* form section */
.formSection {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
}

/* form title */
.formTitle {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px #F90CEFB5;
}

/* form structure */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    --formRowGap: 40px;
    row-gap: var(--formRowGap);
}

.formContainer {
    display: flex;
    justify-content: space-between;
}

/* input elements */
input {
    width: 50%;
    height: 48px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #B052B5;
    padding-left: 22px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

input::placeholder {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #9E8D9EB5;
}

/* label */
label {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: calc(8px - var(--formRowGap));
}

/* textarea */
textarea {
    height: 112px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #B052B5;
    padding-left: 22px;
    resize: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

textarea::placeholder {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #9E8D9EB5;
}

/* send button */
.sendButton {
    height: 64px;
    border-radius: 16px;
    border: none;
    background-color: #F30AEA;
    cursor: pointer;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
}

/* map section */
.mapSection {
    width: 46%;
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

/* map section container */
.mapSectionContainer {
    display: flex;
    justify-content: center;
    column-gap: 72px;
}

/* contact buttons */
.contactButton {
    border: 2px solid #ffffff;
    background: #f30aea;
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
}

button:active {
    background-color: #9d0998;
}

/* icon styles */
i {
    font-size: 24px;
    color: #FFFFFF;
}

/* iframe */
iframe {
    height: 338px;
    border-radius: 10px;
}
